{% extends 'main.html' %}
{% block title %}
    Login in website
{% endblock %}

{% block main %}
    <div class="content">
        <div class="login-card">
            <h2>Login</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" class="btn btn-primary w-100" value="Login">
                <p class="text-muted text-center mt-3">Don't have an account? <a href="{% url 'home:register' %}">Register
                    here</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}