{% extends 'main.html' %}

{% block main %}

    <!-- Profile Content -->
    <div class="content">
        <div class="profile-card">
            <h2>My Profile</h2>

            <!-- User Information -->
            <div class="user-info">
                <p><strong>Name:</strong> {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Member Since:</strong> {{ user.date_joined|timesince }} ago </p>
            </div>

            <!-- Tickets Table -->
            <h3 style="color: #34495e; text-align: center; margin-bottom: 1.5rem; font-size: 1.5rem; font-weight: 600;">
                My Tickets</h3>
            <table class="ticket-table">
                <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in user_ticket %}
                    <tr>
                        <td>#{{ ticket.id }}</td>
                        <td>{{ ticket.subject }}</td>
                        {% if ticket.status == "Closed" %}
                            <td class=" text-danger">{{ ticket.status }}</td>
                        {% else %}
                            <td class="text-success">{{ ticket.status }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ ticket.get_absolute_url }}" class="btn btn-primary btn-sm">View</a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
            <p class="text-center mt-3">
                <a href="{% url 'ticket:ticket-create' %}">Create a New Ticket</a>
            </p>
        </div>
    </div>


{% endblock %}