{% extends 'main.html' %}
{% block title %}
    Close Tickets Lists
{% endblock %}
{% block main %}
    <div class="content">
        <div class="open-tickets-card">
            <h2>Close Tickets</h2>


            <table class="ticket-table">
                <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Subject</th>
                    <th>Submitted On</th>
                    <th>Owner</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for list in close_list %}
                    <tr>
                        <td># {{ list.id }}</td>
                        <td>{{ list.subject }}</td>
                        <td>{{ list.created_at |timesince }} ago</td>
                        <td>{{ list.user.username|capfirst }}</td>
                        <td>
                            <div class="button-group">
                                <a href="{{ list.get_absolute_url }}" class="btn btn-danger btn-sm">View</a>

                            </div>
                        </td>
                        {% empty %}
                        <td>
                            <div>

                                <h6 class="text-muted">there are no ticket yet!</h6>
                            </div>
                        </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

