{% extends 'main.html' %}
{% block main %}
    <div class="content">
        <div class="open-tickets-card">
            <h2>In Progress Tickets</h2>

            <!-- Open Tickets Table -->
            <table class="ticket-table">
                <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Subject</th>
                    <th>Submitted On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    {% for list in in_progress_list %}
                        <td># {{ list.id }}</td>
                        <td>{{ list.subject }}</td>

                        <td>{{ list.created_at |timesince }} ago</td>
                        <td>

                            <div class="button-group">
                                <a href="{{ list.get_absolute_url }}" class="btn btn-primary btn-sm">View</a>
                            </div>
                        </td>
                        <td>
                            {% empty %}

                        <td><h6>There are no tickets yet.</h6></td>


                    {% endfor %}

                </tr>


                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
<!-- Open Tickets Content -->
