{% extends 'main.html' %}

{% block main %}


    <!-- Ticket Detail Content -->
    <div class="content">
        <div class="ticket-detail-card">
            <h2>Ticket Detail</h2>

            <!-- Ticket Information -->
            <div class="ticket-info">
                <p><strong>Ticket ID:</strong> # {{ ticket.id }}</p>
                <p><strong>Subject:</strong> {{ ticket.subject }}</p>

                <p><strong>Status:</strong> {{ ticket.status }}</p>
                <p><strong>Submitted On:</strong> {{ ticket.created_at|timesince }} ago</p>
            </div>

            <!-- User Question -->
            <div class="ticket-section">
                <h4>User Question</h4>
                <p>
                    {{ ticket.description }}
                </p>
                {% if ticket.file %}
                    <p><em>Attached File: <a href="{{ ticket.file.url }}">Link</a></em></p>
                {% endif %}
            </div>

            {% for message in ticket.messages.all %}
                {% if message.is_admin_response %}
                    <!-- Admin Answer -->
                    <div class="ticket-section">
                        <h4>Admin Response</h4>
                        <p>
                            {{ message.content }}
                        </p>
                        {% if message.file %}
                            <p><em>Attached File: <a href="{{ message.file.url }}">Link</a></em></p>
                        {% endif %}
                        <p><em>Responded on: {{ message.created_at|timesince }} ago</em></p>
                    </div>
                {% else %}
                    <div class="ticket-section">
                        <h4>User Question</h4>
                        <p>
                            {{ message.content }}
                        </p>
                        {% if message.file %}
                            <p><em>Attached File: <a href="{{ message.file.url }}">Link</a></em></p>
                        {% endif %}
                    </div>
                {% endif %}

            {% endfor %}



            <!-- Follow-Up Response Form -->
            <div class="response-form">
                <h4>Add a Follow-Up Response</h4>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button-group">
                        <button type="submit" class="btn btn-primary">Submit Response</button>
                        <a href="{% url 'home:profile' request.user.username %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
            <div class="text-center mt-4">


                <button type="button" class="btn btn-danger">
                    Close Ticket
                </button>

            </div>
        </div>
    </div>

{% endblock %}